@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: linear-gradient(90deg, #4F4F4F 0%, #4F4F4F 30%, #808080 30%, #808080 100%);
}
a {
  width: 120px;
}
.contactUs{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2{
  color: #fff;
  font-weight: 500;
}
.contact{
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.box{
  position: relative;
  margin-top: 20px;
}
.contact h3{
  color: #A0522D;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.formBox{
  position: relative;
  width: 100%;
}
.formBox .row50{
  display: flex;
  gap: 20px;
}
.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox{
  width: 100%;
}
.inputBox span{
  color: #da6709;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputBox input[type="submit"]{
  background: #A0522D;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}
.inputBoxVoltar{
  width: 120px;
}
.inputBoxVoltar a input{
  background: #A0522D;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 100%;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}
.inputBox::placeholder{
  color: #999;
}
.cursor{
  cursor: no-drop;
  background: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.4);
}
@media (max-width: 991px){
  body{
    background: #808080;
  }
  .contactUs{
    padding: 20px;
  }
  .formBox .row50{
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox{
    width: 100%;
  }
  .contact{
    padding: 30px;
  }
  .map{
    min-width: 300px;
    padding: 0;
  }
}